# requirements.txt
fastapi
uvicorn
python-jose[cryptography]
passlib[bcrypt]
stripe
firebase-admin
# pydantic is usually a dependency of fastapi, but good to have
pydantic
# Required for Form(...) usage
python-multipart
